<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

  <!-- Resource files. -->
  <servlet>
    <servlet-name>ResourcesServlet</servlet-name>
    <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
    <init-param>
      <param-name>dirAllowed</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourcesServlet</servlet-name>
    <url-pattern>resources/*</url-pattern>
  </servlet-mapping>

  <!-- Application servlets. -->
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.janknspank.server.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddDeviceRegistrationServlet</servlet-name>
    <servlet-class>com.janknspank.server.AddDeviceRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDeviceRegistrationServlet</servlet-name>
    <url-pattern>/addDeviceRegistration</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.janknspank.server.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteUserUrlFavoriteServlet</servlet-name>
    <servlet-class>com.janknspank.server.DeleteUserUrlFavoriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserUrlFavoriteServlet</servlet-name>
    <url-pattern>/deleteUserUrlFavorite</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetArticlesServlet</servlet-name>
    <servlet-class>com.janknspank.server.GetArticlesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetArticlesServlet</servlet-name>
    <url-pattern>/getArticles</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FTUEGetArticlesServlet</servlet-name>
    <servlet-class>com.janknspank.server.FTUEGetArticlesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FTUEGetArticlesServlet</servlet-name>
    <url-pattern>/ftueGetArticles</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetTopicServlet</servlet-name>
    <servlet-class>com.janknspank.server.GetTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTopicServlet</servlet-name>
    <url-pattern>/getTopic</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetUserServlet</servlet-name>
    <servlet-class>com.janknspank.server.GetUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserServlet</servlet-name>
    <url-pattern>/getUser</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.janknspank.server.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.janknspank.server.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SetAddressBookServlet</servlet-name>
    <servlet-class>com.janknspank.server.SetAddressBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetAddressBookServlet</servlet-name>
    <url-pattern>/setAddressBook</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SetUserUrlFavoriteServlet</servlet-name>
    <servlet-class>com.janknspank.server.SetUserUrlFavoriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetUserUrlFavoriteServlet</servlet-name>
    <url-pattern>/setUserUrlFavorite</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SetUserUrlRatingServlet</servlet-name>
    <servlet-class>com.janknspank.server.SetUserUrlRatingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetUserUrlRatingServlet</servlet-name>
    <url-pattern>/setUserUrlRating</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TrainingServlet</servlet-name>
    <servlet-class>com.janknspank.server.TrainingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainingServlet</servlet-name>
    <url-pattern>/training</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ViewFeedServlet</servlet-name>
    <servlet-class>com.janknspank.server.ViewFeedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewFeedServlet</servlet-name>
    <url-pattern>/viewFeed</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetArticleServlet</servlet-name>
    <servlet-class>com.janknspank.server.GetArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetArticleServlet</servlet-name>
    <url-pattern>/getArticle</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetLatestDemoVersionServlet</servlet-name>
    <servlet-class>com.janknspank.server.GetLatestDemoVersionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLatestDemoVersionServlet</servlet-name>
    <url-pattern>/getLatestDemoVersion</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>com.janknspank.server.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/demo</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>S3PipeServlet</servlet-name>
    <servlet-class>com.janknspank.server.S3PipeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S3PipeServlet</servlet-name>
    <url-pattern>/s3Pipe/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetIndustriesServlet</servlet-name>
    <servlet-class>com.janknspank.server.GetIndustriesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetIndustriesServlet</servlet-name>
    <url-pattern>/getIndustries</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetOrganizationsServlet</servlet-name>
    <servlet-class>com.janknspank.server.GetOrganizationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOrganizationsServlet</servlet-name>
    <url-pattern>/getOrganizations</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetPeopleServlet</servlet-name>
    <servlet-class>com.janknspank.server.GetPeopleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPeopleServlet</servlet-name>
    <url-pattern>/getPeople</url-pattern>
  </servlet-mapping>

</web-app>
