<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

  <!-- Application servlets. -->
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.janknspank.server.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CreateUserServlet</servlet-name>
    <servlet-class>com.janknspank.server.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserServlet</servlet-name>
    <url-pattern>/createUser</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.janknspank.server.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteUserUrlFavoriteServlet</servlet-name>
    <servlet-class>com.janknspank.server.DeleteUserUrlFavoriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserUrlFavoriteServlet</servlet-name>
    <url-pattern>/deleteUserUrlFavorite</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteUserUrlRatingServlet</servlet-name>
    <servlet-class>com.janknspank.server.DeleteUserUrlRatingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserUrlRatingServlet</servlet-name>
    <url-pattern>/deleteUserUrlRating</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetArticlesServlet</servlet-name>
    <servlet-class>com.janknspank.server.GetArticlesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetArticlesServlet</servlet-name>
    <url-pattern>/getArticles</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetUserServlet</servlet-name>
    <servlet-class>com.janknspank.server.GetUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserServlet</servlet-name>
    <url-pattern>/getUser</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.janknspank.server.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.janknspank.server.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SetAddressBookDataServlet</servlet-name>
    <servlet-class>com.janknspank.server.SetAddressBookDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetAddressBookDataServlet</servlet-name>
    <url-pattern>/setAddressBookData</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SetLinkedInDataServlet</servlet-name>
    <servlet-class>com.janknspank.server.SetLinkedInDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetLinkedInDataServlet</servlet-name>
    <url-pattern>/setLinkedInData</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SetLinkedInConnectionsDataServlet</servlet-name>
    <servlet-class>com.janknspank.server.SetLinkedInConnectionsDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetLinkedInConnectionsDataServlet</servlet-name>
    <url-pattern>/setLinkedInConnectionsData</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SetUserUrlFavoriteServlet</servlet-name>
    <servlet-class>com.janknspank.server.SetUserUrlFavoriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetUserUrlFavoriteServlet</servlet-name>
    <url-pattern>/setUserUrlFavorite</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SetUserUrlRatingServlet</servlet-name>
    <servlet-class>com.janknspank.server.SetUserUrlRatingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetUserUrlRatingServlet</servlet-name>
    <url-pattern>/setUserUrlRating</url-pattern>
  </servlet-mapping>
</web-app>
