/* About Us */
p {
  font-size: 15px;
}

#history-section {
  margin-top: 20px;
}

#mission-statement {
  font-style: italic;
}

.profile-photo {
  border-radius: 110px;
}

.role-header {
  margin-top: 16px;
}

.small-wrapper {
  padding-top: 32px;
  margin-bottom: 32px;
}

li {
  font-size: 15px;
}

@media (max-width: 767px) {
  main section {
    text-align: center;
  }

  #history-section {
    margin-top: 8px;
  }

  .small-wrapper {
    padding-top: 8px;
    margin-bottom: 16px;
  }

  h1 {
    font-size: 26px;
    margin-top: 16px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    text-align: left;
    margin-top: 18px;
  }

  li {
    text-align: left;
    font-size: 14px;
  }
}