/* About Us */
#history-section {
  margin-top: 32px;
}

.profile-photo {
  border-radius: 110px;
}

.role-header {
  margin-top: 16px;
}

.small-wrapper {
  padding-top: 32px;
}

@media (max-width: 767px) {
  main section {
    text-align: left;
  }
}