body {
    font-size: 15px;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 28px;
}

h3 {
  font-size: 20px;
  margin-top: 20px;
}

h4 {
  font-size: 18px;
  color: #999999;
  font-weight: normal;
  font-style: italic;
}

a {
  text-decoration: underline;
  color: #45504c;
}