@font-face {
  font-family: Frutiger;
  src: url('/resources/css/FrutigerLTStd-Roman.otf');
}

body {
    line-height: 1.5em;
    font-family: 'Frutiger', 'Myriad Web Pro', sans-serif;
    color: #45504c;
    font-size: 18px;
}

html,body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

p {
    font-weight: 100;
    margin-top: 24px;
}

a {
  font-weight: bold;
  color: white;
}

a:hover {
  color: white;
}

pre {
    font-size: 10px;
}

/* Nav */
.navbar-brand {
    background: url("/public/images/logo.png") 0 0 no-repeat;
    background-size: 190px 37px;
    width: 190px;
    height: 68px;
    padding-top: 20px;
    margin-left: 18px;
    background-position: center;
}

.navbar-default {
    background-color: rgba(255,255,255,.90);
    border-color:  #e7e7e7;
    font-size: 14px;
}

.navbar-nav > li > a {
    padding-top: 6px;
    margin-top: 14px;
    padding-bottom: 6px;
    margin-bottom: 14px;
    margin-left: 18px;
    line-height: 28px;
    border-width: 0px;
    background-color: transparent;
}

.navbar-toggle {
    margin-top: 16px;
}

a.btn-primary,
.navbar-nav > li > a.btn-primary {
    color: #fff;
    background-color: #2098F6;
    font-weight: 100;
    border-width: 0px;
    padding-right: 40px;
    background-image: url("/public/images/right_arrow_white.png");
    background-position: 93% 50%;
    background-repeat: no-repeat;
    background-size: 12px 20px;
}

.navbar-nav > li > a.btn-primary:hover,
.navbar-nav > li > a.btn-primary:focus,
.navbar-nav > li > a.btn-primary:active,
.navbar-nav > li > a.btn-primary.active {
    color: #fff;
    background-color: #3D8DDE;
    border-width: 0px;
}

@media (max-width: 767px) {
  .navbar-nav > li > a.btn-primary,
      .navbar-nav > li > a.btn {
    padding: 5px 15px 5px 25px;
    margin-right: 18px;
    display: -webkit-box;
  }
  .navbar-nav > li > a {
      text-align: center;
      background-color: #fff;
  }
}

.jumbotron {
    background: -webkit-linear-gradient(top, #5A5B67 0%,#3C3E47 50%,#202127 100%);
    background: linear-gradient(4deg,
        #5A5B67 0%,
        #3C3E47 50%,
        #202127 100%),
        #202127;
    height: 500px;
    margin-top: 0px;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-image: url("/resources/img/leading-section-background2@2x.png");
    text-align: center;
    padding-top: 54px;
}

.jumbotron h1 {
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.jumbotron h2 {
    margin-top: 24px;
    font-size: 18px;
    font-weight: lighter;
    color: #fff;
}

#leading-screenshot {
  width: 280px;
  height: 446px;
}

#app-icon {
  width: 120px;
  height: 120px;
  margin-top: 78px;
}

#jumbotron-footer {
  background-color: rgba(255,255,255,0.2);
  margin-top: -86px; 
  height: 86px;
}

.get-the-app-float-left {
  display: inline;
  float: left;
  margin: 32px 10px 0px 4px;
  color: white;
  font-size: 16px;
}

#apple-logo {
  display: inline;
  float: left;
  width: 24px;
  height: 30px;
  margin: 26px 8px 0px -8px;
}

.linkTexting_oq3j39q0 {
  display: inline;
  float: left;
  width: 320px;
  margin: 26px 0;
}

.linkTextingInner_oq3j39q0 {
  width: 320px;
}

.linkTextingButton_oq3j39q0 {
  width: 84px;
  background-color: #FF3F32;
}

.linkTextingButton_oq3j39q0:hover {
  background-color: #930711;
}

#section-1 {
  background-image: url("/resources/img/more-below@2x.png");
  background-size: 75px 13px;
  background-repeat: no-repeat;
  background-position: 50% 3%;
}

#section-1-img {
    width: 307px;
    height: 495px;
}

#section-2 {
  background-color: #4971FF;
  color: white;
}

.section-2-wrapper {
  padding: 84px 0px 0px 0px;
}

#section-2-img {
  width: 298px;
  height: 475px;
}

#section-3-img {
  width: 307px;
  height: 495px;
}

#section-4 {
  background-color: #41BAFF;
  color: white;
}

#section-4-wrapper {
  padding: 0px 0px 84px 0px;
}

#section-4-img {
  width: 298px;
  height: 508px;
}

#section-5 {
  text-align: center
}

#section-5-img {
  width: 180px;
  height: 207px;
}

#section-6 {
  background-color: #FE3852;
  color: white;
}

#section-6-wrapper {
  margin: 84px 0px 30px 0px;
}

#section-6-logo {
  width: 35px;
  height: 89px;
  margin-bottom: 32px;
}

#section-7 {
  background-color: #991000;
  color: white;
}

#bottom-link-texting {
  display: inline;
}

#bottom-link-texting-label {
  display: inline;
  float: left;
  margin-top: 30px;
}

#section-8 {
  text-align: center;
}

@media (min-width: 992px) {
    main section .wrapper {
        padding: 84px 0px;
    }

    main section .wrapper-small {
        padding: 84px 0px 24px 0px;
    }

    h3 {
        margin-top: 180px;
    }

    h4 {
        margin: 40px 0px 30px 0px;
        font-weight: bold;
        font-size: 22px;
    }

    .code-snippet {
        margin-top: 50px;
    }
}

@media (max-width:767px) {
    main section .wrapper {
        padding: 24px 10px;
        text-align: center;
    }

    .padded-img {
        margin: 20px 0px;
    }

    h4 {
        margin: 10px 0px 30px 0px;
    }

    .container-fluid>.navbar-header {
        margin-left: 0px;
    }

    .navbar-nav {
        margin: 0px;
    }
}

@media (min-width: 621px) and (max-width:767px) {
    main section .wrapper-small {
        padding: 74px 10px 0px 10px;
        text-align: center;
    }
}

@media (min-width:768px) and (max-width: 991px) {
    main section .wrapper {
        padding: 24px 10px 36px;
        text-align: center;
    }

    main section .wrapper-small {
        padding: 24px 10px 24px;
        text-align: center;
    }

    .padded-img {
        margin: 20px 0px;
    }

    h4 {
        margin: 10px 0px 30px 0px;
    }
}

@media (max-width: 620px) {
    .demo-container {
        display: none;
    }

    .mobile-demo-container {
        display: block;
    }

    .jumbotron {
        height: 320px;
    }

    .jumbotron h1 {
        font-size: 42px;
    }

    .inline-btn {
        margin-top: 0px;
    }

    main section .wrapper-small {
        padding: 44px 10px 0px 10px;
    }
}

@media (min-width: 621px) {
    .demo-container {
        display: block;
    }

    .mobile-demo-container {
        display: none;
    }
}

@media (max-width: 682px) {
    .usecases-img {
        width: 70%;
    }

    .usecase-wrapper {
        margin-top: 20px;
    }
}

@media (max-width: 450px) {
    #customize-img {
        width: 100%;
    }
}
.content-block {
    padding: 60px 0px;
    height: 100%;
}

.content-primary {
    background: linear-gradient(169deg,#175587,#5fc6fc);
    background-color: #175587;
}

.form-container {
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.3);
    box-shadow: 0 2px 3px rgba(0,0,0,.3);
    background: #FFF;
    margin-bottom: 40px;
}

.form-container header {
    padding: 20px 20px 0;
}

.form header .logo {
    margin: 0 auto 20px;
    height: 37px;
    width: 139px;
}

.form header .logo a {
    background: url("/public/images/logo.png") 0 0 no-repeat;
    background-size: 139px 37px;
    display: block;
    text-indent: -3000px;
    overflow: hidden;
    text-decoration: none;
    height: 37px;
    width: 139px;
}

.form ul {
    margin: 0;
    padding: 0 30px 0px;
    list-style-type: none;
}

.form ul li {
    margin-bottom: 20px;
}

.form ul li label {
    display: block;
    font-size: 14px;
    color: #7b8488;
    font-weight: 100;
}

.form-container footer {
    background: #f7f7f7;
    border-radius: 0 0 3px 3px;
    padding: 14px 30px 10px 30px;
    height: 60px;
}

.text-small {
    font-size: 15px;
}

.text-translucent {
    opacity: 0.5;
}

.text-light {
    color: #FFF;
}

.bold {
    font-weight: normal;
}

.nav-footer {
    padding: 60px 0 0px 0;
    background-color: #333333;
    color: #FFF;
    margin: 0px;
}

.footer-p {
    padding: 12px 0px 36px 0px;
    float: left;
    font-size: 18px;
    max-width: 340px;
}

.footer-p small {
    font-size: 12px;
    opacity: 0.5;
}

.fb-like {
    position:relative;
    top:-14px;
}

.linkedin-btn {
    position:relative;
    top:-2px;
}

.btn-transparent {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.4);
}

.btn-transparent:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
}

.try-it-button {
    background-color: #FFBB34;
    padding: 10px;
    border-radius: 3px;
}

.try-it-button:hover {
    text-decoration: underline;
    color: #fff;
    opacity: 0.9;
}

.divider {
    height: 2px;
    background-color: #EEEEEE;
    margin-top: 34px;
}


/* Back bar */
.backbar {
    margin-bottom: 0px;
    height: 70px;
    background: linear-gradient(0deg,
        #389AFF 0,
        #4DB0FF 100%),
        #326B98;
    border-radius: 0px;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.3);
    box-shadow: 0 2px 3px rgba(0,0,0,.3);
}

.back-arrow {
    height: 26px;
    margin-top: 2px;
}

.back-logo {
    height: 18px;
}

.backbar-nav>li {
    margin-top: 18px;
    float: left;
}

.back-to-label {
    padding: 3px 10px 0px 10px;
    font-size: 14px;
    color: #fff;
    opacity: 0.5;
}

.backbar:hover {
    opacity: 0.93;
}

@media (max-width:767px) {
    .backbar {
        height: 50px;
    }
    .backbar-nav>li {
        margin-top: 10px;
    }
}

.average {
    font-size: 14px;
    font-weight: 100;
}
