body {
 line-height: 1.5em;
  font-family: 'PT Sans', sans-serif;
  color: #45504c;
  font-size: 18px;
}

html,body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

p {
  font-weight: 100;
  margin-top: 24px;
}

a {
  font-weight: bold;
  color: white;
}

a:hover {
  color: #FF5352;
}

pre {
  font-size: 10px;
}

h3 {
  font-size: 26px;
}

/* Nav */

.navbar-default .navbar-brand:hover {
  color: #FF5352
}

.navbar {
  border: 0px;
  border-radius: 0px;
}

.navbar-default {
  background-color: rgba(255,255,255,.90);
  border-bottom: 1px solid #e7e7e7;
  font-size: 14px;
}

.navbar-nav > li > a {
  padding-top: 6px;
  margin-top: 14px;
  padding-bottom: 6px;
  margin-bottom: 14px;
  margin-left: 18px;
  line-height: 28px;
  border-width: 0px;
  background-color: transparent;
  text-decoration: none;
}


.navbar-default .navbar-nav>li>a:hover {
  color: #FF5352;
}

.navbar-toggle {
  margin-top: 16px;
}

a.btn-primary,
.navbar-nav > li > a.btn-primary {
  color: #fff;
  background-color: #2098F6;
  font-weight: 100;
  border-width: 0px;
  padding-right: 40px;
  background-image: url("/public/images/right_arrow_white.png");
  background-position: 93% 50%;
  background-repeat: no-repeat;
  background-size: 12px 20px;
}

.navbar-nav > li > a.btn-primary:hover,
.navbar-nav > li > a.btn-primary:focus,
.navbar-nav > li > a.btn-primary:active,
.navbar-nav > li > a.btn-primary.active {
  color: #fff;
  background-color: #3D8DDE;
  border-width: 0px;
}

.jumbotron {
  height: 100%;
  max-height: 780px;
  margin: 0px;
  padding: 0px;
  background: url("/resources/img/perspective-iphone6plus4.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: left;
  padding-top: 0px;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/resources/img/perspective-iphone6plus4.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/resources/img/perspective-iphone6plus4.jpg', sizingMethod='scale')";
}

.jumbotron .container {
  height: 93%;
}

.jumbotron h1 {
  font-size: 18px;
  font-weight: 500;
  color: #111;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.3;
}

.jumbotron h2 {
  margin-top: 18px;
  font-size: 16px;
  font-weight: lighter;
  color: #111;
}

#app-icon {
  width: 136px;
  height: 129px;
  margin-top: 12px;
  margin-right: 12px;
}

.brand-wrapper {
  margin-top: 32px;
}

.tagline {
  margin-top: 24px;
  width: 200px;
}

.tagline-bottom-line {
  font-size: 24.5px;
}

.get-the-app-wrapper {
  display: inline-block;
}

.bottom-aligner {
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
  width: 0px;
}

.get-the-app-button {
  width: 135px;
  height: 50px;
  float: right;
  display: block;
}

.get-the-app-button-centered {
  width: 135px;
  height: 50px;
  margin: 0px auto 0px auto;
  display: block;
}

.link-texting-explanation-label {
  float: right;
  display: block;
  width: 100%;
  text-align: right;
  margin-top: 16px;
  font-size: 14px;
}

.link-texting-wrapper-right {
  float: right;
  display: block;
  margin-top: 16px;
  margin-bottom: 24px;
}

.link-texting-wrapper {
  display: block;
  width: 100%;
  margin-bottom: 24px;
}

.linkTexting_oq3j39q0 {
  display: inline;
  width: 320px;
  margin: 26px 0;
}

.linkTextingInner_oq3j39q0 {
  width: 320px;
  text-align: right;
}

.linkTextingButton_oq3j39q0 {
  width: 84px;
  background-color: #FF3F32;
}

.linkTextingButton_oq3j39q0:hover {
  background-color: #930711;
}

#jumbotron-footer {
  width: 100%;
  text-align: center;
  height: 7%;
}

#more-below-arrow {
  width: 75px;
  height: 13px;
  margin: 0px auto 0px auto;
}

.section-2-wrapper {
  padding: 48px 0px 0px 0px;
}

.section-3-wrapper {
   padding: 72px 0px 72px 0px;
}

#section-1 {
  background: url("/resources/img/leading-section-background6flat@2x.jpg")  no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

#section-3 {
  background: url("/resources/img/leading-section-background5flat@2x.jpg")  no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

#section-4 {
  background-image: url("/resources/img/realistic-commute3.jpg");
  background-repeat: no-repeat;
  background-position:  0% 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  background-color: #41BAFF;
}

#section-4-wrapper {
  padding: 0px 0px 304px 0px;
  text-shadow: 0px 0px 30px #000000;
}

#section-5 {
  text-align: center
}

#section-5-img {
  margin-bottom: 32px;
}

#section-5-title {
  font-size: 28px;
  font-weight: bold;
}

#section-6 {
  background-color: #FE3852;
  background: url("/resources/img/section-background-blue1flat@2x.jpg")  no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

#section-6-wrapper {
  margin: 84px 0px 84px 0px;
}

#section-7 {
  background-color: #991000;
  color: white;
}

#bottom-link-texting {
  display: inline;
}

#bottom-text-link-row {
  margin-top: 16px;
}

#bottom-link-texting-label {
  display: inline;
  float: left;
  margin-top: 30px;
}

#section-8 {
  text-align: center;
}

.footer-p {
  padding: 0px 0px 48px 0px;
  float: left;
  font-size: 18px;
  max-width: 340px;
  margin: 6px 0px 12px 0px;
}

.footer-p small {
  font-size: 12px;
  opacity: 0.5;
}

.mobile-brand-wrapper {
  display: none;
}

.nav-footer {
    padding: 60px 0 0px 0;
    background-color: #333333;
    color: #FFF;
    margin: 0px;
}

.fb-like {
    position:relative;
}

.linkedin-btn {
    position:relative;
}

@media (min-width: 992px) {
  main section .wrapper {
    padding: 84px 0px;
  }

  main section .wrapper-small {
    padding: 84px 0px 24px 0px;
  }

  h3 {
    margin-top: 180px;
  }

  #section-3-title {
    margin-top: 50px;
  }

  h4 {
    margin: 40px 0px 30px 0px;
    font-weight: bold;
    font-size: 32px;
  }

  .code-snippet {
    margin-top: 50px;
  }

  #section-3-img {
    width: 550px;
    height: 480px;
  }
}

@media (max-width:767px) {
  .navbar-default .navbar-brand {
    padding: 8px 15px;
  }

  .navbar-toggle {
    margin-top: 8px;
  }

  #navbar-logo {
    height: 36px;
  }

  main section {
    text-align: center;
  }

  main section .wrapper {
    padding: 24px 10px;
    text-align: center;
    margin-top: 10%;
  }

  .navbar-nav > li > a.btn-primary,
  .navbar-nav > li > a.btn {
    padding: 5px 15px 5px 0px;
    margin-right: 18px;
    display: -webkit-box;
  }

  .navbar-nav > li > a {
    text-align: center;
  }

  .padded-img {
    margin: 20px 0px 0px 0px;
  }

  #section-1-img {
    margin: 20px 0px 0px -80px;
  }

  h4 {
    margin: 10px 0px 30px 0px;
    font-size: 28px;
  }

  .container-fluid>.navbar-header {
    margin-left: 0px;
  }

  .navbar-nav {
    margin: 0px;
  }

  p {
    font-size: 14px;
  }

  .section-2-wrapper {
    padding: 32px 0px 0px 0px;
  }

  .section-3-wrapper {
    padding: 32px 0px 0px 0px;
  }

  .link-texting-explanation-label {
    display: none;
  }

  .link-texting-wrapper-right {
    display: none;
  }

  .mobile-brand-wrapper {
    display: block;
    width: 100%;
    height: 85%;
    text-align: center;
  }

  .mobile-brand-top-line {
    margin: 0 auto;
  }

  .brand-wrapper {
    display: none;
    margin: 12px auto 0px auto;
    width: 92%;
    height: 85%;
  }

  #app-icon {
    width: 60px;
    height: 60px;
    margin-top: 8px;
    display: inline;
  }

  #mobile-app-icon {
    margin-top: 16px;
  }

  .logo-wrapper {
    margin-top: 16px;
  }

  .bottom-aligner {
    display: none;
  }

  .get-the-app-wrapper {
    display: block;
    margin: 16px auto 0px auto;
    width: 135px;
  }

  .jumbotron h1 {
    font-size: 16px;
    margin-top: 14px;
    margin-bottom: 0px;
  }

  .jumbotron h2 {
    margin-top: 0px;
  }

  .inline-btn {
    margin-top: 0px;
  }

  #section-3-img {
    margin-bottom: 28px;
    width: 550px;
    max-width: 96%;
  }

  #section-4-container {
    padding: 0px;
  }

  #section-4-wrapper {
     background-color:rgba(0, 0, 0, 0.87);
     padding: 0px;
     margin: 0px 0px 360px 0px;
  }

  #section-4 {
    background-image: url("/resources/img/realistic-commute-narrow2.jpg");
  }

  #section-4-row {
    margin-right: 0px;
  }

  #section-4-p {
    padding-left: 15px;
  }

  #bottom-text-link-row {
    display: none;
  }

  #get-spotter-paragraph {
    display: none;
  }

  .footer-p {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) and (max-width:1200px) {
  #section-4-wrapper {
    padding: 0px 0px 254px 0px;
  }
}

@media (min-width:768px) and (max-width: 991px) {
  main section .wrapper {
    padding: 32px 10px 36px;
  }

  main section .wrapper-small {
    padding: 24px 10px 24px;
    text-align: center;
  }

  .padded-img {
    margin: 20px 0px 0px 0px;
  }

  h3 {
    margin-top: 180px;
  }

  h4 {
    margin: 10px 0px 30px 0px;
  }

  .container {
    width: 766px;
  }

  .brand-wrapper {
    margin-top: 32px;
  }

  #section-3-img {
    width: 550px;
    height: 480px;
  }

  #section-3-title {
    margin-top: 24px;
  }

  #section-4-wrapper {
    padding: 0px 0px 184px 0px;
  }
}