{namespace news.adddeviceregistration autoescape="strict"}

/**
 * Renders the add device registration page.
 */
{template .main}
  <h1>Add Device Registration (for push notifications)</h1>

  <form method="POST" action="/v1/add_device_registration">
    Session key:<br>
    <input type="text" name="session_key"><br>
    <br>
    iOS Device ID:<br>
    <input type="text" name="ios_device_token"><br>
    <br>
    <input type="submit" value="Add"><br>
  </form>
{/template}
