{namespace news.adddeviceregistration autoescape="strict"}

/**
 * Renders the add device registration page.
 */
{template .main}
  <h1>Add Device Registration (for push notifications)</h1>

  <form method="POST" action="addDeviceRegistration">
    Session key:<br>
    <input type="text" name="sessionKey"><br>
    <br>
    iOS Device ID:<br>
    <input type="text" name="iOSDeviceToken"><br>
    <br>
    <input type="submit" value="Add"><br>
  </form>
{/template}
