{namespace news.createuser autoescape="strict"}

/**
 * Renders the create user page.
 */
{template .main}
  <h1>Create user</h1>

  <form method="POST" action="createUser">
    Email address:<br>
    <input type="text" name="email"><br>
    <br>
    Password:<br>
    <input type="password" name="password"><br>
    <br>
    <input type="submit" value="Login"><br>
  </form>
{/template}
