{namespace news.deleteuser autoescape="strict"}

/**
 * Renders the delete user page.
 */
{template .main}
  <h1>Delete user</h1>

  <form method="POST" action="deleteUser">
    Session key:<br>
    <input type="text" name="sessionKey"><br>
    <br>
    <input type="submit" value="Delete"><br>
  </form>
{/template}
