{namespace news.deleteuserurlfavorite autoescape="strict"}

/**
 * Renders the delete favorite URL page.
 */
{template .main}
  <h1>Delete a favorite URL</h1>

  <form method="POST" action="/v1/delete_user_url_favorite">
    Session key:<br>
    <input type="text" name="session_key"><br>
    <br>
    URL ID:<br>
    <input type="text" name="url_id"><br>
    <br>
    <input type="submit" value="Delete"><br>
  </form>
{/template}
