{namespace news.deleteuser autoescape="strict"}

/**
 * Renders the delete user page.
 */
{template .main}
  <h1>Delete user</h1>

  <form method="POST" action="/v1/delete_user">
    Session key:<br>
    <input type="text" name="session_key"><br>
    <br>
    <input type="submit" value="Delete"><br>
  </form>
{/template}
