{namespace news.setlinkedindata autoescape="strict"}

/**
 * Renders the connect linked in data page.
 */
{template .main}
  <h1>Set LinkedIn Data</h1>

  <form method="POST" action="setLinkedInData">
    Session key:<br>
    <input type="text" name="sessionKey"><br>
    <br>
    LinkedIn JSON:<br>
    <textarea rows="4" cols="50" name="linkedInJson"></textarea><br>
    <br>
    <input type="submit" value="Set"><br>
  </form>
{/template}
