{namespace news.setuserurlfavorite autoescape="strict"}

/**
 * Renders the set favorite URL page.
 */
{template .main}
  <h1>Set a favorite URL</h1>

  <form method="POST" action="setUserUrlFavorite">
    Session key:<br>
    <input type="text" name="session_key"><br>
    <br>
    URL ID:<br>
    <input type="text" name="url_id"><br>
    <br>
    <input type="submit" value="Set"><br>
  </form>
{/template}
